.login-wraper {
  // margin: auto;
}

.login-wrapper-inner {
  margin: 100px auto;
  width: 400px;
  padding: 10px;
  gap: 10px;
  text-align: center;
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  @media (max-width: 768px) {
    width: 70%;
  }
}

.login-input {
  height: 25px;
}
