.modal-input {
  border: none;
  background-color: white;
  outline: none;
  color: black;
  font-size: 22px;
  font-family: system-ui, sans-serif;
  width: 100%;
  resize: none;
  max-height: 80vh;
}

.task-wrapper {
  gap: 30px;
  display: flex;
  width: 100%;
  @media (max-width: 1024px) {
    flex-direction: column;
    gap: 0px;
  }
}

.ant-row {
  gap: 12px;
  margin-top: 20px;
}

.add-task-btn {
  margin-top: 20px;
}

.ql-editor {
  max-height: 250px;
  max-width: 600px;
  overflow: auto;
}

.details-wrapper {
  min-width: 50%;
  max-width: 100%;
}

.preview-wrapper {
  max-width: 100%;
  max-height: 500px;
  .ant-card {
    width: 50%;
    max-width: 40%;
    max-height: 500px;
    overflow-y: scroll;
    overflow-wrap: break-word;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 16px solid orange;
    box-shadow: 10px 5px 5px rgb(178, 178, 178);
    @media (max-width: 1024px) {
      width: 100%;
    }
  }

  .ant-card::-webkit-scrollbar {
    display: none;
  }
}

.custom-time {
  display: flex;
  align-items: center;
  gap: 12px;
}
